# gradle

.gradle/
build/
out/
build/classes/
dist/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
eclipse

# fabric

run/
runs/
*.launch

# javadoc

doc/
*.log
*.log.gz

docs/web/[0-9]*

/META-INF/

# Affinity Photo
*.af~lock~
*.af~lock~:com.dropbox.ignored
